body{
  background-color: #ddd;
}
input{
  padding: 10px;
  min-width: 100px;
  width: 150px;
  max-width: 300px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  min-height: 50vh;
  margin: auto;
  /* border: 2px solid cadetblue; */
}
h1{
  text-transform: capitalize;
  text-align: center;
  font-weight:lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:before{
  content: " ";
  border: 1px solid;
}
h1:after{
  border: 1px solid;
}
.user{
  min-width: 50px;
  width: 50px;
  max-width: 150px;
}
input:focus{
  border-color: coral;
  outline-color:coral ;
  background-color: coral;
}
label{
  display: flex;
  flex-direction: column;
}
*::placeholder{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 0.8em;
}
